name: Build and Publish

on:
  push:
    branches:
      - main
    paths:
      - 'Dockerfile'

jobs:
  build-and-push-docker-image:
    name: Build Docker image and push to repositories
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 2

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Github Packages
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Check if source image was changed
        run: echo "FROM_CHANGED=$(git diff HEAD^:Dockerfile HEAD:Dockerfile | grep '+FROM ghcr.io/runatlantis/atlantis' | wc -l | awk '{ print $1 }')" >> $GITHUB_ENV

      - name: Extract Atlantis version
        run: echo "ATLANTIS_VERSION=$(grep 'FROM ghcr.io/runatlantis/atlantis' Dockerfile | awk -F'[:]' '{ print $2 }')" >> $GITHUB_ENV

      - name: Build image and push to GitHub Container Registry
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          tags: |
            ghcr.io/shini4i/atlantis:${{ env.ATLANTIS_VERSION }}
          push: true
        if: env.FROM_CHANGED != 0

      - name: Add git tag
        run: |
          git tag ${{ env.ATLANTIS_VERSION }}
          git push origin ${{ env.ATLANTIS_VERSION }}
        if: env.FROM_CHANGED != 0
